* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 1920px;
    height: 1080px;
    left: 2095px;
    top: 107px;
    background: #191919;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 580px;
    width: 1920px;
    height: 60px;
    background: #191919;
    border-bottom: 0.2px solid #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    width: 204px;
    height: 39px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    width: 480px;
    height: 45px;
    background: #626262;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 10px;
    margin: 0 auto;
    width: 82px;
    height: 64px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    gap: 312px;
    width: 250px;
    height: 1020px;
    background: #191919;
    border-right: 0.2px solid #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 1920px;
    height: 1020px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 1670px;
    height: 1020px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}