* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: #191919;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    background: #191919;
    border-bottom: 0.2px solid #FFFFFF;
    flex-shrink: 0;
}

.logo {
    width: 204px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.search {
    width: 40%;
    max-width: 480px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #626262;
    border-radius: 15px;
    flex-grow: 1;
}

.profile {
    width: 82px;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 10px;
    flex-shrink: 0;
}

.main {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0px;
    flex-grow: 1;
}

.burger-menu {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background: #191919;
    border-right: 0.2px solid #FFFFFF;
    flex-shrink: 0;
}

.main-page {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex-grow: 1;
}