* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    min-height: 100vh;
}

html {
  min-height: 100vh;
}

body {
    background-color: #191919;
    width: 100vw;
    min-height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
}

.master {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 91.9vh;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #191919;
    border-bottom: 0.2px solid #FFFFFF;
}

.logo {
    width: 204px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search {
    width: 40%;
    max-width: 480px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #626262;
    border-radius: 15px;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 90%;
    font-size: 16px;
}

.search button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 10%;
    height: 100%;
}

.profile {
    width: 82px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.burger-menu {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background: #191919;
    border-right: 0.2px solid #FFFFFF;
}

.burger-menu div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 45px;
    gap: 10px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.burger-menu p {
    margin: 0 auto;
    width: 220px;
    height: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}